@use '../../colors';

.general-form-newnote {
    background-color: colors.$form-color;
    text-align: center;
    position: absolute;
    padding: 20px;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    border-radius: 1.5rem;
    color: colors.$text-color;
    margin-top: 200px;
}

.description-newnote {
    margin-bottom: 2rem;
}

.description-textarea-newnote {
    margin-top: 1rem;
    resize: none;
}


.text-newnote {
    margin-bottom: 2rem;
}

.text-textarea-newnote {
    margin-top: 1rem;
    resize: none;
    height: 500px;
}

.newnote-button {
    background-color: colors.$button-color !important;
    color: colors.$text-color !important;
    width: 10rem;
    height: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;

    border: none !important;
}

.react-page-cell-insert-new {
    width: 100% !important;
}

.react-page-controls-trash {
    display: none !important;
}