@use '../../colors';

.noteinline-general {
    background-color: colors.$form-color;
    border-radius: 1.2rem;
    width: 80%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

    padding: 2rem;
}

.noteinline-description {
    margin-bottom: 1rem;
    text-align: center;
}

.noteinline-text {
    height: 10rem;
    overflow: hidden;
}

.noteinline-sentiments {
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding-left: 10px;
}

.noteinline-sentiments-block {
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.noteinline-namedentities {
    margin-top: 15px;
}

.noteinline-namedentities-text {
    margin-left: 10px;
}

.sentiments-negative {
    background: colors.$sentiments-negative-color;
}

.sentiments-neutral {
    background: colors.$sentiments-neutral-color;
}

.sentiments-positive {
    background: colors.$sentiments-positive-color;
}

.text-textarea-noteinline {
    margin-top: 1rem;
    resize: none;
    height: 500px;
}

.text-textarea-namedentities {
    resize: none;
    height: 150px;
    margin-top: 5px;
}