$form-color: rgb(230, 224, 176);

$background-color: rgb(204, 182, 109);

$button-color: rgb(190, 163, 71);

$navbar-color: rgb(173, 170, 135);

$text-color: rgb(13, 60, 104);

$sentiments-negative-color: red;
$sentiments-neutral-color: grey;
$sentiments-positive-color: green;