.userprofilesline-main {
    margin-top: 100px;
}

.userprofilesline-search {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.form-control-own-search {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.1rem;
}

.userprofilesline-li {
    list-style: none;
}

.userprofilesline-ul-div {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}