@use '../../colors';

.create-form {
    background-color: colors.$form-color;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;

    border-radius: 1.5rem;
    color: colors.$text-color;

    text-align: center;
    width: 20rem;
}

.create-button {
    background-color: colors.$button-color !important;
    color: colors.$text-color !important;
    width: 10rem;

    border: none !important;
    margin: 3rem;
}

.notesline-li {
    list-style: none;
}